<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ChartJS Tutorial for WebDesignTuts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script

            >
    </head>
    <body>
      

        

        <div class="wrapper">
            <header>
                <div class="container clearfix">
                    <h1>Monitoramento IOT com MQTT </h1>

                </div>


              <div>
                   
                     <p align="right"><font size="10"> <a href="http://10.0.0.106:5000" class="button">Logout</a> </font> </p>
                </div> 
               
            </header>

            <!-- Grafico de Umidade do ar -->
            <div class="container clearfix">

                <div class="third widget doughnut">
                    <h3>Umidade do ar</h3>
                    <p><a href="" class="button">Filter By Employee</a></p>
                    <div class="canvas-container">
                        <canvas id="umidade"></canvas>
                        <span class="status"></span>
                    </div>
                    <div class="chart-legend">
                        <ul>
                            <li class="ship">Umidade</li>
                           
                           
                        </ul>
                    </div>
                </div>

                <!-- Grafico de Pressão atmosférica -->
                 <div class="third widget doughnut">
                    <h3>Pressão atmosférica</h3>
                    <p><a href="" class="button">Filter By Employee</a></p>
                    <div class="canvas-container">
                        <canvas id="pressao"></canvas>
                        <span class="status"></span>
                    </div>
                    <div class="chart-legend">
                        <ul>
                            
                            <li class="rework">Presão</li>
                           
                        </ul>
                    </div>
                </div>


              

                 <!-- Exemplo de grafico de linha com duas linhas -->
                <div class="third widget">
                    <div class="chart-legend">
                        <h3>Customer Service Assessment</h3>
                        <p>based on words mentioned</p>
                        <p><a href="" class="button">Track another word</a></p>
                    </div>
                    <div class="canvas-container">
                        <canvas id="departments"></canvas>
                    </div>
                </div>

                 <div class="third widget line">
                    <div class="chart-legend">
                        <h3>Shipments per Day</h3>
                        <p><span>This Week</span> &mdash; <strong>Last Week</strong></p>
                        <p><a href="" class="button">Change Date Range</a><a href="" class="button">Filter by Location</a></p>
                    </div>
                    <div class="canvas-container">
                        <canvas id="shipments"></canvas>
                    </div>
                </div>


                 <!-- Grafico de Temperatura -->
                  <div class="third widget doughnut">
                        <h3>Temperatura</h3>
                        <p><a href="" class="button">Filter By Employee</a></p>
                        <div class="canvas-container">
                            <canvas id="temperatura"></canvas>
                            <span class="status"></span>
                        </div>
                        <div class="chart-legend">
                            <ul>
                                <li class="temp">  Temperatura graus celsius </li>
                                 
                            </ul>
                        </div>
                   </div>


                   


                   <!-- Imagem recebida via MQTT -->
                   <div class="third widget doughnut">
                       
                        <center>
                        <h3>Images MQTT</h3>
                        <p><a href="" class="button">Filter By Employee</a></p>
                        <img id="img_mqtt" src="{{ user_image }}" alt="User Image"  width="300" height="400"> 
                        </center> 

                   </div>
                   
                  

                 </div>


            </div>

            
            <div class="push"></div>
        
        <!-- Grafico de linha do rodapé -->
            
        <div >
            <div class="chart-legend">
                <h3>Temperatura media durante a semana</h3>
            
            </div>
            <div class="canvas-container">
                    <canvas id="linha_temp"></canvas>
            </div>
        </div>


        <footer>
            <div class="container">
                <center> <a>  Núcleo de Processamneto de Dados-NPD</a> </center>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="static/js/plugins.js"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>


        <!-- Criação dos graficos com Chart JS  -->
        <script>
            
            (function(){
            var t;
            function size(animate){
                if (animate == undefined){
                    animate = false;
                }
                clearTimeout(t);
                t = setTimeout(function(){
                    $("canvas").each(function(i,el){
                        $(el).attr({
                            "width":$(el).parent().width(),
                            "height":$(el).parent().outerHeight()
                        });
                    });
                    redraw(animate);
                    var m = 0;
                    $(".widget").height("");
                    $(".widget").each(function(i,el){ m = Math.max(m,$(el).height()); });
                    $(".widget").height(m);
                }, 30);
            }
            $(window).on('resize', function(){ size(false); });



            //Graficod de umidade do ar
            function redraw(animation){
                var options = {};
                if (!animation){
                    options.animation = false;
                } else {
                    options.animation = true;
                }

                var data = [
                    {
                        value: 20,
                        color:  "#d0dde3"
                    },
                    {
                        value : 80,
                        color : "#20B2AA"//"#2c9c69"
                    },
                    

                ];
                var canvas = document.getElementById("umidade");
                var ctx = canvas.getContext("2d");
                new Chart(ctx).Doughnut(data, options);


                // GRafico de pressão atmosférica
                 var data = [
                    {
                        value: 30,
                        color:  "#d0dde3"
                    },
                    {
                        value : 70,
                        color : "#2c9c69"
                    },
                    

                ];
                var canvas = document.getElementById("pressao");
                var ctx = canvas.getContext("2d");
                new Chart(ctx).Doughnut(data, options);



                // Eemplo de gafico de linga com duas limhas
                var data = {
                    labels : ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
                    datasets : [
                        {
                            fillColor : "rgba(99,123,133,0.4)",
                            strokeColor : "rgba(220,220,220,1)",
                            pointColor : "rgba(220,220,220,1)",
                            pointStrokeColor : "#fff",
                            data : [65,54,30,81,56,55,40]
                        },
                        {
                            fillColor : "rgba(219,186,52,0.4)",
                            strokeColor : "rgba(220,220,220,1)",
                            pointColor : "rgba(220,220,220,1)",
                            pointStrokeColor : "#fff",
                            data : [20,60,42,58,31,21,50]
                        },
                    ]
                }
                var canvas = document.getElementById("shipments");
                var ctx = canvas.getContext("2d");
                new Chart(ctx).Line(data, options);


                // Exemplo de grafico de rador 
                var data = {
                    labels : ["Helpful","Friendly","Kind","Rude","Slow","Frustrating"],
                    datasets : [
                        {
                            fillColor : "rgba(220,220,220,0.5)",
                            strokeColor : "#637b85",
                            pointColor : "#dbba34",
                            pointStrokeColor : "#637b85",
                            data : [65,59,90,81,30,56]
                        }
                    ]
                }
                var canvas = document.getElementById("departments");
                var ctx = canvas.getContext("2d");
                new Chart(ctx).Radar(data, options);


            

                // Grafico de temperatura

               var data = [
                    {
                        value: {{valor_temp1}},
                        color:"#c62f29"
                    },

                    {
                        value : {{valor_temp2}},
                        color : "#d0dde3"
                    }
                    

                ];
                

                var canvas = document.getElementById("temperatura");
                var ctx = canvas.getContext("2d");
                new Chart(ctx).Doughnut(data, options);



                // Grafico de linha de teperatura do rodapé
                var data = {
                labels : [{% for item in labels_line %}
                           "{{item}}",
                          {% endfor %}],
                datasets : [{
                   

                    fillColor : "rgba(205,133,63)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [{% for item in values_line %}
                              {{item}},
                            {% endfor %}],
                    spanGaps: false
                }]
              }
              var canvas = document.getElementById("linha_temp");
              var ctx = canvas.getContext("2d");
              new Chart(ctx).Line(data, options);

        


    }
            size(true);

            }());

        </script>

<!-- Atualização da Divs automaticamente -->
      	<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
		<script type="text/javascript">
		    //function doRefresh(){
		        //$("#img_mqtt").load(" #img_mqtt");
		    //}
		    //$(function() {
		        //setInterval(doRefresh, 5000);
		    //});
		</script>

 <!-- Atualização da imagem automaticamente -->
		<script type="text/javascript">
			
			function refresh(node)
			{
			   var times = 3000; // gap in Milli Seconds;

			   (function startRefresh()
			   {
			      var address;
			      if(node.src.indexOf('?')>-1)
			       address = node.src.split('?')[0];
			      else 
			       address = node.src;
			      node.src = address+"?time="+new Date().getTime();

			      setTimeout(startRefresh,times);
			   })();

			}

			window.onload = function()
			{
			  var node = document.getElementById('img_mqtt');
			  refresh(node);
			  // you can refresh as many images you want just repeat above steps
			}

		</script>

    </body>
</html>